
exercicios/exercicios_lista1/exer1.PNG
exercicios/exercicios_lista1/exer1/index.html
exercicios/exercicios_lista1/exer2.jpg
exercicios/exercicios_lista1/exer3.PNG
exercicios/exercicios_lista1/exer3/index.html
exercicios/exercicios_lista1/exer4.jpg
exercicios/exercicios_lista1/exer4/index.html
exercicios/exercicios_lista1/exer5.PNG
exercicios/exercicios_lista1/exercicios.txt
